* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* CSS HSL */
  --sky-blue: hsla(199, 64%, 73%, 1);
  --blue-green: hsla(192, 70%, 43%, 1);
  --prussian-blue: hsla(200, 95%, 14%, 1);
  --selective-yellow: hsla(43, 100%, 51%, 1);
  --ut-orange: hsla(32, 100%, 49%, 1);
}

button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border: 1px solid black;
}

body {
  background-color: var(--blue-green);
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.scroll-lock {
  height: 100svh;
  overflow: hidden;
}

.card {
  margin: 20px 0;
  padding: 1.5rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 10px black;
}

.card h2 {
  margin-bottom: 1rem;
}

/* -- MAIN -- */
main p {
  text-align: justify;
}

#contactMe {
  display: block;
  margin: 10% auto;
  padding: 0.5em 1em;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  transition: all 250ms;
  color: white;
  background-color: transparent;
}

#contactMe:hover {
  background-color: var(--prussian-blue);
  cursor: pointer;
}

/* -- MODAL -- */
dialog {
  position: relative;
  margin: 10svh auto;
  border-radius: 10px;
  background-color: var(--selective-yellow);
  padding: 1.5rem;
}

dialog form button[aria-label="close"] {
  /* appearance: none; */
  font-size: 2rem;
  font-weight: bold;
  padding: 0 10px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

dialog form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

dialog h2 {
  margin-bottom: 10px;
}

dialog form :is(input, textarea) {
  padding: 4px 1em;
  border-radius: 4px;
}

dialog menu {
  display: flex;
  justify-content: space-between;
}

dialog menu button {
  margin-top: 10px;
  padding: 0.5em 1em;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

dialog menu button[type="reset"] {
  color: white;
  background-color: var(--ut-orange);
}

dialog menu button:hover {
  opacity: 0.8;
}
